version: '3'
services:
  serve-swagger-editor:
    image: nunun/serve-swagger-editor
    volumes:
      - ./test.yml:/spec.yaml
    ports:
      - "28080:8080"

  serve-swagger-generator:
    build: ./
    image: nunun/serve-swagger-generator
    environment:
      - RSYNCD_USERNAME=admin
      - RSYNCD_PASSWORD=hogehoge
      - CODEGEN_LANG=CsharpDotNet2
      - CODEGEN_CONFIG={"packageName":"NNO.Editor"}
      #- CODEGEN_URL=http://petstore.swagger.io/v2/swagger.yaml
      #- CODEGEN_CHECK_INTERVAL=1
    volumes:
      - ./test.yml:/spec.yaml
    ports:
      - "20873:873"

